<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="guru99_bankManager_V1">

	 <listeners>
		<listener class-name="com.guru99_bankManager.utilities.Reporting" />
	</listeners>


	<test name="BankingApp Test">
		<parameter name="browser" value="chrome" />
		<classes>
			<!--  <class name="com.guru99_bankManager.testCases.TC_LoginTest_001" />-->
			<!--   <class name="com.guru99_bankManager.testCases.TC_LoginDDT_002" />-->
			  <class name="com.guru99_bankManager.testCases.TC_AddCustomerTest_003" /> 
			  <class name="com.guru99_bankManager.testCases.TC_EditCustomerTest_004" /> 
			  <class name="com.guru99_bankManager.testCases.TC_DeleteCustomerTest_005" />

		</classes>

	</test>

</suite>